:root{
    /* colors */
    --off-white: #FAF9F6;
    --off-black: #041A1C;
    --dark-ocean: #16243b;
    --turquoise: #04ADBF;
    --blue: #1D6DF2;
    --hazelnut: #C75E36;
    --orange: #F2391D;

    /* background image */
    background-color: var(--dark-ocean);
}

/* Typography */
h1, h2, h3, p, a, li{
    color: var(--off-white); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* General Styles */
.page-container{
    width: 1000px;
    margin: auto;
}

.inner-container{
    padding: 1rem;
}

/* Navigation Bar */
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
.navigation{
    background-color: var(--off-black);
}
.nav-transition{
    background: linear-gradient(rgba(4,26,28,1), rgba(4,26,28,0));
    height: 3rem;
}

/* Content */

.content-spacing{
    margin: 2rem;
    border-radius: 10px;
}


/* Footer */
footer p{
    text-align: right;
    font-size: 0.75rem;
}

.footer-content{
    padding: 1rem 2rem;
    background-color: var(--off-black);
    opacity: 90%;
}

.footer-transition{
    background: linear-gradient(rgba(4,26,28,0), rgba(4,26,28,1));
    height: 2rem;
}